.git
.gitignore

.env

__pycache__
*.pyc
.pytest_cache

backend/.venv

cpp-engine/build
*.exe
*.dll
*.so
*.dylib
*.o
*.obj

frontend/node_modules
frontend/dist
.vite

database/*.db
database/*.sqlite
database/*.sqlite3

tests/__pycache__
tests/.pytest_cache